*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.loa
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.bcf
figuras/*.pdf
figuras/annex/**/**/*.pdf
figuras/benchmark/*.pdf
figuras/casestudy/**/*.pdf
